* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

section {
    margin-bottom: 1.5rem;
}

p {
    margin-bottom: 0.5rem;
}

a {
    color: var(--primary-color);
}

.header {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0.25rem;
    background-color: var(--controls-color-bg);
}

.header a {
    padding: 0.25rem 0.5rem;
    text-decoration: none;
    border-radius: 0.5rem;
}

.header .mfe-name {
    color: var(--text-color);
    background-color: var(--code-zone-color-bg);
    font-weight: bold;
    font-size: 1.2rem;
}

.header .navigation {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header .navigation a:hover {
    background-color: var(--primary-hover-color);
}

.container {
    color: var(--text-color);
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}
