:root {
    --main-color-bg: #11191f;
    --controls-color-bg: #202B46;
    --text-color: #edf0f3;
    --code-color-bg: #18232c;
    --code-zone-color-bg: #2a3d4d;
    --code-color: #73828c;
    --primary-color: #3e97ff;
    --primary-hover-color: #607a9d;
    --border-color: #5c6370;
}
