<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Playground [{{ manifest.tag }}]</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="css/markdown.css"/>
    <link rel="stylesheet" href="css/highlight.css"/>
    <link rel="icon" href="favicon.png" sizes="32x32" type="image/png" />
</head>
<body class="markdown-body container">
    {{ content | safe }}
</body>
</html>