<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App</title>
    <script>
        document.addEventListener('mfe-seed.ready', e => console.log('WEB ready: ', e.detail));
        document.addEventListener('mfe-seed.loaded', e => console.log('WEB loaded: ', e.detail));
    </script>
</head>
<body>
<div id="app"></div>
    <script type="module" src="http://localhost:7000/frontend/index.ts"></script>
    <mfe-seed locale="en_GB"></mfe-seed>
</body>
</html>
