<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>App</title>
</head>
<body>
<div id="app"></div>

{% if dev %}
    <script type="module" src="http://localhost:7000/frontend/index.ts"></script>
{% else %}
    <script type="module" src="/dist/frontend/index.js"></script>
{% endif %}
</body>
</html>
